/* Animaciones portfolio */ 

/* Animaci贸n titulo 1 */
h1 {
	animation: appear 4s; 

}

@keyframes appear {
	from {
		transform: scale(0.25);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* Animaci贸n titulo 2 */
h2 {
	animation: appear 4s;
}

@keyframes appear {
	from {
		transform: scale(0.25);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* Animaci贸n p tag */

.appear {
	opacity: 0;
	animation: slide 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

@keyframes slide {
	from {
		transform: translateY(70px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

/* Animaci贸n icono */

i {
	opacity: 0;
	animation: scrolldown 2s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

@keyframes scrolldown {
	from {
		transform: translateY(0px);
		opacity: 0;
	}
	to {
		transform: translateY(50px);
		opacity: 1;
	}
}